.navigation {
    width: 240px;
    height: 100vh;
    position: fixed;
    background-color: $color-dark;
    color: $color-light;
    padding: 10px;

}

.navigationWraper {
    font-family: $brand-font;
    ul {
        font-size: 16px;
        list-style-type: none;
        color: $color-background;
        li {
            margin: 20px 0px;
            padding:10px;
            &:hover {
                border-left: 4px solid $color-buttonOrangeDark;
            }
        }
    }
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .active {
      font-weight: bold;
    }
  }

.navigationTop {
    display: flex;
    align-items: baseline;
    i {
        opacity: 0;
        cursor: none;
    }
}

.logo {
    font-family: $logo;
    font-size: 25px;
    font-weight: 600;
    margin: 10px auto;
}

.menuButon {
    color: $color-background;
    font-family: $brand-font;
    font-size: 16px;
    margin: 0 10px;
    text-decoration: none;
    &:hover {
        color: $color-background;
        text-decoration: none;
    }
}

.menagoImg {
    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $color-background;
        margin: 25px 0 10px 10px;
    }
    a {
        img {
            border-radius: 50%;
            height: 55px;
            width: 55px;
            margin: 20px;
        }
    }
}