.navigation {
    width: 240px;
    height: 100vh;
    position: fixed;
    background-color: $color-dark;
    color: $color-light;
    padding: 10px;

}

.navigationWraperMobile {
    font-family: $brand-font;
    ul {
        font-size: 16px;
        list-style-type: none;
        color: $color-background;
        li {
            margin: 20px 0px;
            padding:10px;
            &:hover {
                border-left: 4px solid $color-buttonOrangeDark;
            }
        }
    }
}
.navigationWraper {
    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $color-background;
        margin: 25px 0 10px 10px;
    }
    a {
        color: $color-background;
        font-family: $brand-font;
        font-size: 16px;
        margin: 0 10px;
        text-decoration: none;
        img {
            border-radius: 50%;
            height: 55px;
            width: 55px;
            margin: 20px;
        }
    }
    div {
        display: flex;
        align-items: baseline;
        i {
        font-size: 16px;
        margin-left: 70px;
        cursor: pointer;
        &:hover {
            color: $color-buttonOrangeDark;
        }
        }
    }
}

.logo {
    font-family: $logo;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}
