.navigation {
    width: 240px;
    height: 100vh;
    position: fixed;
    background-color: $color-dark;
    color: $color-light;
    padding: 20px;
    z-index: +1;
}

.navigationWraper {
    font-family: $brand-font;
}

.navigationTop {
    display: flex;
}

.logo {
    font-family: $logo;
    size: 50px;
}