.navigation {
    width: 240px;
    height: 100vh;
    position: fixed;
    background-color: $color-dark;
    color: $color-light;
    padding: 20px;
    z-index: +1;
}

.navigationWraper {
    font-family: $brand-font;
    ul{
        colorcolor: $color-light;
    }
}

.navigationTop {
    display: flex;
    align-items: baseline;
    i {
        font-size: 23px;
        margin-left: 70px;
    }
}

.logo {
    font-family: $logo;
    font-size: 23px;
    font-weight: 600;
    margin-left: 10px;
}

