.topMenu {
    background-color: $color-light;
    width: calc(100% - 240px);
    height: 50px;
    margin-left: 240px;
    position: fixed;
}

.topMenuWrapper {
    display: flex;
    float: right;
    width: auto;
    margin: 5px 10px;
}

.iconsTopMenu {
    display: flex;
    align-items: baseline;
    border-left: 2px solid $color-background;
    padding: 10px 20px 0 20px;
    i {
        display:inline-block;
    }
    h3 {
        font-size: 20px;
        margin: 0 10px;
        font-weight: bold;
        font-family: $default-font;
    }
    p{
        font-size: 16px;
        margin: 0 10px;
        font-family: $default-font;
    }
}

/*UWAGI
inny krótszy zapisz gdzie p z 52 linijki html jest zamienione na h3: nie działa :first-child a działa :last-child

.iconsTopMenu {
    display: flex;
    align-items: baseline;
    border-left: 2px solid $color-background;
    padding: 10px 20px 0 20px;
    i {
        display:inline-block;
    }
    h3 {
        font-size: 16px;
        margin: 0 10px;
        font-weight: bold;
        :first-child{
            font-weight: bold;
        }
    }
}

*/
