.topMenuWrapper {
    background-color: $color-light;
    width: calc(100% - 240px);
    height: 50px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    justify-content: center;
}

.topMenu {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.topMenu li {
    display: flex;
    align-items: baseline;
    border-left: 2px solid $color-background;
    padding: 10px 20px 0 20px;

}
