/*Global*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $color-background;
    font-size: 16px;
    line-height: 1.7;
    font-family: $brand-font;
    display: flex;
}

.container {
    top: 100px;
    left: 240px;
    padding: 0 30px 30px 30px;
    position: absolute;
    z-index: -1;
    display: block;
}

/*UWAGI
style czcionek nie wczytują się w klasie body
*/