/*Global*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $color-background;
    font-size: 16px;
    //line-height: 1.7;
    display: flex;
    font-family: $brand-font;
}

.container {
    width:100%;
    max-width: calc(100% - 240px);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    top: 70px;
    left: 240px;
    position: absolute;
    z-index: -1;
}

.post_page {
    background-color: $color-light;
    margin-bottom: 20px;
    padding-bottom: 20px;
    display: none;
    &.active {
      display: block;
    }
}