/*Global*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $color-background;
    font-size: 16px;
    line-height: 1.7;
    display: flex;
}

.container {
    width: calc(100% - 240px); //NIE DZIAŁA DLACZEGO?
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    top: 70px;
    left: 240px;
    position: absolute;
    z-index: -1;
}

.section {
    background-color: $color-light;
    //width: 141%; //tu musi być 141% bo szerokość kontenera nie mogę zmienić
}
