/*Global*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: $color-background;
    font-size: 16px;
    line-height: 1.7;
    font-family: $brand-font;
    display: flex;
    justify-content: center;
    width: 1366px;
}

.container {
    width: calc(100% - 240px);

    top: 70px;
    left: 240px;
    position: absolute;
}

.section {
    background-color: $color-light;
}

/*UWAGI
style czcionek nie wczytują się w klasie body
*/