/*buttons*/
.btn {
    display: inline-block;
    min-width: 160px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 1px;
    background-color: $color-buttonOrangeDark;
    color: $color-light;
}

  .btnRefrsh {
    min-width: 18px;
    min-height: 18px;
}

/*buttons*/
/*buttons*/