/*buttons*/
.bt {
    //display: inline-block;
    //min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}

  .btnRefrsh {
    border-color:v$color-buttonOrangeDark;
    color: $color-buttonOrangeDark;
}

/*buttons*/
/*buttons*/