/*buttons*/
.btn {
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: $color-buttonOrangeDark;
    color: $color-light;
    &:hover {
      background-color: $color-light;
      color: $color-dark
    }
}

  .btnRefrsh {
    width: 111px;
    height: 18px;
}

/*buttons*/
/*buttons*/