/*colors*/
$color-leftSideBar: #333333;
$color-1: #979797;
$color-2: #E3E3E3;
$color-3: #F5F5F2;
$color-4: #F58220;
$color-5: #04AE00;
$color-6: #74B67A;
$color-7: #74B67A;
$color-8: #96CC9B;
$color-9: #DE5252;
$color-0: #EC7171;
$color-leftSideBar: #56819F;
$color-leftSideBar: #FF0000;
/*font sizes*/
$color-main: #0097e6;
/*fonts*/
$color-main: #0097e6;
/*animation*/

.1 {
    background-color: $-1;
}
.2 {
    background-color: $color-5;
}