/*colors*/
$color-dark: #333333;
$color-buttonGreyDark: #979797;
$color-buttonGreyLight: #bbbbbb;
$color-buttonDisable: #e4e4e4;
$color-background: #F5F5F2;
$color-buttonOrangeDark: #F58220;
$color-buttonOrangeLight: #FFA200;
$color-onlineButton: #04AE00;
$color-notificationClicked: #74B67A;
$color-notificationUnclicked: #96CC9B;
$color-buttonNegativeClicked: #DE5252;
$color-buttonNegativeUnclicked: #EC7171;
$color-links: #56819F;
$color-strongRed: #FF0000;

/*font sizes*/

$paragraph-font-size: 16px;

/*fonts*/
$logo: 'Satisfy', cursive;
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;

