/*colors*/
$color-leftSideBar: #333333;
$color-font: #979797;
$color-2: #E3E3E3;
$color-background: #F5F5F2;
$color-buttonOrangeDark: #F58220;
$color-buttonOrangeLight: #FFA200;
$color-onlineButton: #04AE00;
$color-notificationClicked: #74B67A;
$color-7: #74B67A;
$color-notificationUnclicked: #96CC9B;
$color-9: #DE5252;
$color-0: #EC7171;
$color-leftSideBar: #56819F;
$color-leftSideBar: #FF0000;
/*font sizes*/
$color-main: #0097e6;
/*fonts*/
$color-main: #0097e6;
/*animation*/

