/*colors*/
$color-leftSideBar: #333333;
$color-leftSideBar: #979797;
$color-leftSideBar: #E3E3E3;
$color-leftSideBar: #F5F5F2;
$color-leftSideBar: #F58220;
$color-leftSideBar: #04AE00;
$color-leftSideBar: #74B67A;
$color-leftSideBar: #74B67A;
$color-leftSideBar: #96CC9B;
$color-leftSideBar: #DE5252;
$color-leftSideBar: #EC7171;
$color-leftSideBar: #56819F;
$color-leftSideBar: #FF0000;
/*font sizes*/
$color-main: #0097e6;
/*fonts*/
$color-main: #0097e6;
/*animation*/