@media (max-width: 750px) {

    .topMenuWrapper {
        display: none;
    }

    .navigation  {
        width: 100%;
        height: auto;
    }

    .navigationTop {
        justify-content: space-around;
    }

    .navigationWraperMobile {
        display: none;
    }

    .navigationWraperMobile.active {
        display: block;
        position: fixed;
        height: 100%;
        background-color: $color-dark;
        z-index: 1;
        line-height: 0;

    }

    .section {
        left: 0;
        width: 100%;
        top: 100px;
    }

    .topMenu {
        z-index: -1;
    }
}
