@media (max-width: 750px) {

    .topMenuWrapper {
        display: none;
    }

    .navigation  {
        width: 100%;
        height: auto;
    }

    .navigationTop {
        justify-content: space-around;
    }
}
