@media (max-width: 750px) {
    /*topUserMenu*/
    .topMenu {
      //  margin: auto;
        z-index: -1;
    }

    .topMenuWrapper {
        display: none;
    }

    /*leftNavigationMenu*/

    .navigation  {
        width: 100%;
        height: auto;
    }

    .navigationTop {
        justify-content: space-around;
        z-index: 1;
        i {
            opacity: 1;
            font-size: 16px;
            margin-left: 70px;
            cursor: pointer;
            &:hover {
                color: $color-buttonOrangeDark;
            }
        }
    }

    .navigationWraperMobile {
        display: none;
    }

    .navigationWraperMobile.active {
        display: block;
        position: fixed;
        right: 0;
        height: 100%;
        background-color: $color-dark;
        z-index: 1;
        line-height: 0;
    }

    .container {
        left: 0;
        width: 100%;
        top: 100px;
    }

    .linkWraper {
        width: 100%;
        ul {
            li {
            display: block;
            p {
                width: 100px;
            }
            }
        }
    }
}
