.mainPage {
    background-color: $color-light;
    width: 100%;
}

.title {
    color: $color-buttonGreyDark;
    font-weight: 550;
    font-size: 25px;
    border-bottom: 2px solid $color-background;
    padding: 20px 0 30px 12px;
}

.dates{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    align-items: baseline;
}

.datesConteiner {
    padding: 5px 10px;
    border: 1px solid $color-background;
    border-radius: 2px;
    display: flex;
    margin: 0 50px 20px 0;
    align-items: baseline;
