.title {
    color: $color-buttonGreyDark;
    font-weight: 550;
    font-size: 25px;
    border-bottom: 2px solid $color-background;
    padding: 12px;
    //margin: 0 20px;

}

.dates {
    display: flex;
    justify-content: center;
    padding: 35px;
    align-items: baseline;
    border-bottom: 1px solid $color-background;
}

.datesConteiner {
    padding: 5px 10px;
    border: 1px solid $color-background;
    border-radius: 2px;
    display: flex;
    align-items: baseline;
    div {
        border-right: 1px solid $color-background;
        padding-left: 20px;
        padding-right: 40px;
        font-size: 16px;
    }
    i {
        color: $color-background;
        padding-left: 5px;
    }
}

.legendWrap {
    table {
      margin: 20px auto;
      width: 70%;
      border-spacing: 25px; //dlaczego nie działasz?
      tr {
        td {
          position: relative;
          padding: 10px;
          border-bottom: 3px solid $color-background;
          width: auto;
          h3, p {
            display: inline;
            font-family: $brand-font;
            font-size: 16px;
            font-weight: bold;
            color: $color-buttonGreyDark;
            padding-right:  30px;
          }
          p {
            position: absolute;
            right: 0;
            font-weight: 500;
          }
        }
      }
    }
  }

.canvas {
    padding:20px  20px 20px 0;
}
