.mainPage {
    background-color: $color-light;
    width: 1240px;
}

.title {
    font-color: $color-background;
    font-size: 20px;
    border-bottom: 5px solid $color-background;
    margin-bottom: 20px;
}