.mainPage {
    background-color: $color-light;
    width: 150%;
    margin:30px;
}

.title {
    color: $color-background;
    font-size: 25px;
    border-bottom: 5px solid $color-background;
    margin-bottom: 20px;
}