.section {
    background-color: $color-light;
}

.title {
    color: $color-buttonGreyDark;
    font-weight: 550;
    font-size: 25px;
    border-bottom: 2px solid $color-background;
    padding: 12px;
}

.dates{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: baseline;
    border-bottom: 1px solid $color-background;
}

.datesConteiner {
    padding: 5px 10px;
    border: 1px solid $color-background;
    border-radius: 2px;
    display: flex;
    margin:10px;
    align-items: baseline;
    div {
        border-right: 1px solid $color-background;
        padding: 0 40px 0 20px;
        font-size: 16px;
    }
    i {
        color: $color-background;
        padding-left: 5px;
    }
}

.legendWrap {
    table {
      border-spacing: 25px;
      margin: 20px auto;
      width: 70%;
      
      tr {
        td {
          position: relative;
          padding: 0;
          border-bottom: 3px solid $color-background;
          width: auto;
          padding: 5px;
          h3, p {
            display: inline;
            font-family: $brand-font;
            color: $color-dark;
            font-size: 16px;
            font-weight: bold;
            color: $color-buttonGreyDark;
          }
          p {
            position: absolute;
            right: 0;
            margin: 0;
            font-weight: 500;
        
          }
        }
      }
    }
  }

  //LINK SECTION

  .navigation {
    width: 240px;
    height: 100vh;
    position: fixed;
    background-color: $color-dark;
    color: $color-light;
    padding: 10px;
}

.linkWraper {
    font-family: $brand-font;
    margin: auto;
    
    ul {
        font-size: 16px;
        list-style-type: none;
        color: $color-buttonGreyDark;
        justify-content: center;
        li {
            display: inline-block
            margin: 20px 0px;
            padding:10px;
            &:hover {
                background-color: $color-background;
            }
        }
    }
    h2 {
        font-size: 25px;
        font-weight: 600;
        color: $color-buttonGreyDark;
        margin: 25px 0 10px 10px;
    }
    a {
        color: $color-buttonGreyDark;
        font-family: $brand-font;
        font-size: 16px;
        margin: 0 10px;
        text-decoration: none;
        img {
            border-radius: 50%;
            height: 55px;
            width: 55px;
            margin: 20px;
        }
    }
    div {
        display: flex;
        align-items: baseline;
        i {
        font-size: 16px;
        margin-left: 70px;
        }
    }
}