.mainPage {
    background-color: $color-light;
    width: 100%;
}

.title {
    color: $color-buttonGreyDark;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid $color-buttonGreyDark;
    margin-bottom: 20px;
}