.mainPage {
    background-color: $color-light;
    width: 100%;
}

.title {
    color: $color-buttonGreyDark;
    font-weight: 550;
    font-size: 25px;
    border-bottom: 2px solid $color-background;
    padding: 20px 0 30px 12px;
}

.dates{
    display: flex;
    justify-content: center;
    padding: 25px 0;
    align-items: baseline;
}

.datesConteiner {
    padding: 10px 10px;
    border: 1px solid $color-background;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    div {
        border-right: 1px solid $color-background;
        padding: 0 20px;
    }
}

.dateStart {

}