.mainPage {
    background-color: $color-light;
    width: 100%;
}

.title {
    color: $color-buttonGreyDark;
    font-weight: 550;
    font-size: 25px;
    border-bottom: 2px solid $color-background;
    padding: 20px 0 30px 10px;
}