.userData {
    display: flex;
    form {
        margin: 20px auto;
        width: 100%;
    }
}

.field-wrap {
    color: $color-buttonGreyDark;
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 1px solid $color-background;
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.styledField {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px 0 10px 0;
    align-items: baseline;
    background: none;

    label, {
        font-weight: bold;
        width: 200px;

    }
    input, textarea, select {
        padding: 10px;
        border: 1px solid $color-buttonGreyDark;
        &:focus {
            border-color: $color-buttonOrangeDark;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 220px;
        background-size: 15px auto;
    }
}


.checkbox {
    margin-left: 40px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

.agreementLogo {
    margin: 0 10px;
    font-size: 18px;
}
.btnWrap {
    display: flex;
    justify-content: center;
}



