.userData {
    margin: 20px auto;
    width: 360px;
}

.userData, .userContakt, .userWallet, .userPassword {
    display: flex;
    justify-content: center;
    padding: 20px 0;

        border-bottom: 1px solid $color-background;

}