.userData {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 360px;
}

.field-wrap {
    display: flex;
    color: $color-buttonGreyDark;
    font-size: 16px;
    p {
        font-weight: bold;
    }
}